/* src/pages/DiscussionForumPage.css */
.discussion-forum-page {
  text-align: center;
  font-family: 'DM Sans', sans-serif;
}

.top-section {
  background-color: #000;
  color: #fff;
  padding: 20px;
}

.forum-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.highlight {
  color: #007BFF;
}

.search-bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.search-bar {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  outline: none;
}

.search-button {
  padding: 10px;
  font-size: 16px;
  border: none;
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.forum-description {
  font-size: 16px;
  line-height: 1.5;
  margin: 0 10px;
}
