/* Common styles for both desktop and mobile */
.homepage {
  background-image: url('../assets/Quran_BG.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.homepage::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.content-box {
  background-color: rgba(255, 255, 255, 0.15);
  width: 80%;
  max-width: 80%;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 2;
}

.content-box .ayah {
  font-size: 3em;
  color: #ffffff;
  margin-bottom: 20px;
}

.content-box .translation {
  font-size: 1.5em;
  color: #000000;
  font-weight: bold;
}

.mission-statement {
  padding-top: 12%;
  padding-bottom: 2%;
  width: 100%;
  text-align: left;
  margin-top: 20px;
  font-size: 1.3em;
  font-family: "Montserrat";
  font-weight: bold;
}

.mission-statement2 {
  width: 100%;
  text-align: left;
  font-size: 2em;
  font-family: "Phetsarath";
  font-weight: bold;
  margin-bottom: 20px; /* Add margin bottom for space */
}

.blue-text {
  color: #0d76d7;
}

.learn-more-btn {
  margin-top: auto;
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.learn-more-btn:hover {
  background-color: white;
  color: black;
  border-color: #000000;
}

/* Media query for tablets and smaller screens */
@media (max-width: 768px) {
  .content-box {
    width: 90%; /* Adjust width for smaller screens */
    max-width: 90%;
    padding: 15px; /* Adjust padding */
  }

  .content-box .ayah {
    font-size: 2em; /* Decrease font size for Ayah */
    margin-bottom: 15px;
  }

  .content-box .translation {
    font-size: 1.2em; /* Decrease font size for translation */
  }

  .mission-statement {
    font-size: 1.1em; /* Decrease font size for mission statement */
  }

  .mission-statement2 {
    font-size: 1.5em; /* Decrease font size for second mission statement */
  }

  .learn-more-btn {
    padding: 8px 16px; /* Adjust button padding */
    font-size: 14px; /* Decrease button font size */
  }
}
