/* Default styles */
.blogs-and-articles {
  padding: 20px;
}

.header {
  text-align: center;
}

.header .underline {
  width: 50px;
  height: 2px;
  background-color: #0d76d7;
  margin: 0 auto 20px auto;
}

.header .blue-text {
  font-size: 1.5em;
  color: #0d76d7;
}

.articles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 0 20%;
}

.article {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 90%; /* Set the width of the insight item */
}

.article img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.article h3 {
  font-size: 1.2em;
  margin-top: 10px;
}

.article p {
  font-size: 1em;
  margin-top: 5px;
}

.learn-more-btn,
.load-more-btn {
  background-color: #0d76d7;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px auto;
  display: block;
}

/* Desktop styles */
@media (min-width: 769px) {
  .articles {
    padding: 0 20%;
    grid-template-columns: repeat(3, 1fr); /* Three columns for desktop */
  }

  .learn-more-btn,
  .load-more-btn {
    width: fit-content;
    margin: 10px auto; /* Center horizontally */
    transition: background-color 0.3s;
    display: block; /* Ensure the button is block-level for centering */
  }

  .learn-more-btn:hover,
  .load-more-btn:hover {
    background-color: #0056b3;
  }
}

/* Mobile styles */
@media (max-width: 768px) {
  .articles {
    grid-template-columns: 1fr; /* Single column for mobile */
    padding: 0; /* Remove horizontal padding */
  }

  .article {
    width: 90%; /* Set width to almost full width */
    margin: 0 auto 20px auto; /* Center articles and add bottom margin */
  }

  .header .underline {
    margin: 0 auto 10px auto; /* Reduce bottom margin */
  }

  .header .blue-text {
    font-size: 1.2em; /* Reduce font size */
  }

  .learn-more-btn,
  .load-more-btn {
    width: 80%; /* Set button width to 80% of the container */
    margin: 10px auto; /* Center horizontally */
  }

  .load-more-btn {
    margin-top: 20px; /* Add top margin for load more button */
  }
}
