/* Default styles */
.mission-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0d76d7;
  color: white;
  position: relative;
  height: 80vh;
  gap: 10%;
}

.mission-content {
  max-width: 50%;
  text-align: left;
  display: flex;
  gap: 10%;
}

.heading {
  font-size: 2em;
  font-weight: bold;
  margin-top: 0;
  text-align: start;
}

.text {
  font-size: 1em;
  line-height: 1.5;
}

.bold-text {
  font-weight: bold;
}

.mission-image {
  flex: 1;
  max-width: 30%;
}

.mission-image img {
  width: 100%;
  border-radius: 5px;
}

.ayah-container {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  margin-left: 20%;
}

.ayah-text,
.translation-text {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 10px;
  color: #0d76d7;
}

/* Mobile optimized styles */
@media (max-width: 768px) {
  .mission-container {
    padding: 20px;
    height: auto;
    flex-direction: column;
    gap: 20px; /* Increase the gap for better spacing */
  }

  .mission-content {
    max-width: 100%;
  }

  .heading {
    font-size: 1.5em;
    text-align: center;
  }

  .text {
    font-size: 1em;
  }

  .mission-image {
    max-width: 100%;
  }

  .mission-image img {
    border-radius: 8px; /* Increase border-radius for a smoother look */
  }

  .ayah-container {
    position: relative; /* Change position to relative */
    margin: 20px auto 0; /* Adjust margin for better positioning */
    bottom: auto; /* Reset bottom */
    right: auto; /* Reset right */
  }
}

/* Desktop optimized styles */
@media (min-width: 769px) {
  .mission-image {
    max-width: 25%; /* Adjust the max-width for desktop screens */
    align-self: flex-end;
  }

  .mission-image img {
    border-radius: 5px; /* Retain border-radius */
  }
}
